.table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

.tbody-hover>tr:hover {
    background-color: aqua;
}

tbody td:hover {
    background-color: aqua;
}

.table-borders tbody tr td {
    border-bottom: 1px #f4f4f4 solid;
}

.table .table-bodyheader tbody tr td {
    border: solid 5px black;
}

.table-body-border {
    border: solid 1px red;
}